body{
    background-color: #222222;
}

h1{
    text-transform: uppercase;
    font-size: 2em;
}

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.motivation-img{
    border: 5px solid white;
    width: 100%;
}